{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-3 offset-md-1">
            <h3>{% trans "Log In" %}</h3>

            <p>{% blocktrans %}Hello there lovely member <i class="far fa-smile"></i>, thank you for coming back to us 
                once again. 
              Please rememeber to log in to be able to leave comments under blog posts, engage in conversation or 
              like a posts. 
              <hr>
              If you would like to join our blog to gain these benefits and more then please 
              <a class="link hyperlink" href="{{ signup_url }}">sign up</a>
              here and let your journey begin <i class="far fa-heart"></i> {% endblocktrans %} </p>
        </div>
    </div>
    <div class="row login-in-form">
        <div class="col-md-10 mt-3 offset-md-1">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}