@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Roboto:wght@100&display=swap');

body {
    font-family: Josef-Sans, Roboto, sans-serif;
    color: #554640;
}


.card-img-top {
    width: 40%;
    height: 50%;
}

.homepage-heading {
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}

.nav-link, .nav-link:hover {
    text-decoration: none;
    color: inherit;
}

.about-link, .about-link:hover {
    text-decoration: underline;
    color: inherit;
}

.footer-text {
    text-align: center;
}

.testimonials-header {
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: 75%;
    }
    
}