{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <main>
        <div class="col-md-10 offset-md-1"><h1 class="about-heading">{{ about.name }}</h1></div>
        <div class="col-md-10 offset-md-1"><h3 class="about">A favourite quote of mine is.. </h3> {{ about.favourite_quote | safe }}</div>
        <hr>
        <div class="col-md-10 offset-md-1"><h3 class="about-header">My Story: </h3> {{ about.my_story | safe }}</div>
        <div class="d-flex justify-content-center">
            <img src="/static/images/mindful-about.jpeg" class=" scale img-fluid" alt="Mindful Image">
        </div>
        <div class="col-md-10 offset-md-1"><h3 class="about-header">Why I started this blog </h3> {{ about.why_i_started | safe }}</div>
        <div class="col-md-10 offset-md-1">{{ about.date_created }}</div>
        <div class="mx-auto mindful-prompt-container">
            <img src="/static/images/mindful-prompt.jpg" class="scale img-fluid" alt="Mindful Image">
        </div>

        <div class="col-md-10 offset-md-1 learn-div">
            <h4 class="about-header">Would you like to learn more about mindfulness?</h4>
            <p>At the Time to Pause Blog we feel very grateful to now be running mindfulness classes in response to such an
                interest in Mindfulness and a desire for our members to learn more.
                If this appeals to you also please fill out the form below to register your interest in attending the next
                mindfulness classes that we run. Please feel free to share times that would suit best for you whether it be 
                evenings, Saturdays, Sundays or if you would rather attend in person or online also.
                We will gather all requests and set up classes based on these requests.</p>
        </div>
       
        <!-- Registering Interest Form --->
        <div class="col-md-10 offset-md-1">
            <div class="card-body">
                <h5>Register Your Interest In Attending Our Next Mindfulness Classes</h5>
                <form method="post">
                    {{ class_booking_request_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-secondary">Submit</button>
                </form>
            </div>
        </div>
    </main>

{% endblock %}