{% extends "base.html" %} {% block content %}

    <main>
        <div class="container">
            <img src="https://images.pexels.com/photos/262713/pexels-photo-262713.jpeg" class="img-fluid" alt="Responsive image">
        </div>
        <section>
            <h2>'Whatever the present moment contains, accept it as if you had chosen it.
            Always work with it not against it.'
            <br>
            - Eckhart Tolle</h2>
        </section>
        <br>
        <br>
        <section>
            <h3>Are you intereseted in learning more about mindfulness and what prompted me to delve into this as my job?</h3>
            <br>
            <p>Head over to our about page to read my story and to see our upcoming mindfulness classes and to book in if you are 
                interested</p>
        </section>
        <section>
            Guided Meditation
        </section>
        <section>
            Members Testimonials 
        </section>
    </main>

{% endblock %}