{% extends "base.html" %} {% block content %}

   
    <div class="container homepage-image-container">
        <img src="https://images.pexels.com/photos/262713/pexels-photo-262713.jpeg" class="img-fluid homepage-image" alt="Responsive image">
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="homepage-quote">'Whatever the present moment contains, accept it as if you had chosen it.\
                    Always work with it not against it.'
                <br>
                - Eckhart Tolle</h2>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 class="about-prompt-homepage">Are you interested in learning more about mindfulness and what prompted me to delve into this as my job?</h3>
                <br>
                <p>Head over to our <a href="{% url 'about' %}" class="about-link">about</a> page to read my story and to see our upcoming mindfulness classes and to book in if you are 
                interested</p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="container">
        <img src="/static/images/meditation-image.webp" class="img-fluid meditative-image" alt="Meditation image">
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 class="guided-meditation-header">Guided Meditation</h3>
                <p>In need of a break? Why not have a read below through our short guided meditation and just take a moment
                    for you.
                </p>
                <ul><li> Sitting in an up-right position or laying down on your back, find a comfortable position you can
                sustain for a few. </li>
                <li> Release any unnecessary tension and gently bring your awareness to your breath. </li>
                <li> You only need to observe your breath, do not change anything. </li>
                <li> Observe the movements and sensations in your body with each inhalation and exhalation. </li>
                <li> Let your attention travel with the air passing through your nose and throat to your lungs, feeling the
                expansion of the chest and belly. </li>
                <li> Continue doing this for a few minutes.</li></ul>
            </div>
        </div>
    </div>   
    <hr>
    <div class="container">
        <h4 class="testimonials-header">Member Testimonials</h4>
        <div class="row">
            <div class="col-sm-4 offset-md-1">
                <div class="card">
                    <div class="card-body-testimonial">
                        <h5 class="card-title-testimonial">Karen from Dublin</h5>
                            <p class="card-body">"I love this place! I feel like when I come on here I am at home and 
                             can be my true self! I would recommend this blog to anyone and everyone"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 offset-md-1">
                <div class="card">
                    <div class="card-body-testimonial">
                        <h5 class="card-title-testimonial">Lyndsey from Cork</h5>
                        <p class="card-body">"I wish I found this blog sooner, it has changed my life (and my family's life for the better!). I will be forever
                            grateful for the people I have met on here."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}