{% extends "base.html" %} {% block content %}

    <main>
        <div class="container">
            <img src="https://images.pexels.com/photos/262713/pexels-photo-262713.jpeg" class="img-fluid" alt="Responsive image">
        </div>
        <section>
            <h2>'Whatever the present moment contains, accept it as if you had chosen it.
            Always work with it not against it.'
            <br>
            - Eckhart Tolle</h2>
        </section>
        <br>
        <br>
        <section>
            <h3>Are you intereseted in learning more about mindfulness and what prompted me to delve into this as my job?</h3>
            <br>
            <p>Head over to our about page to read my story and to see our upcoming mindfulness classes and to book in if you are 
                interested</p>
        </section>
        <section>
            <h3>Guided Meditation</h3>
                <p>1. Sitting in an up-right position or laying down on your back, find a comfortable position you can
                    sustain for a few minutes.
2. Release any unnecessary tension and gently bring your awareness to your breath.
3. You only need to observe your breath, do not change anything.
4. Observe the movements and sensations in your body with each inhalation and exhalation.
5. Let your attention travel with the air passing through your nose and throat to your lungs, feeling the
expansion of the chest and belly.
6. Continue doing this for a few minutes.</p>
        </section>
        <section>
            Members Testimonials 
        </section>
    </main>

{% endblock %}